<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="headercontainer container d-flex align-items-center justify-content-between">

    <div class="logo">
      <h1 class="text-light"><a href="/"><span>Blockchain</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="filename='assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="/">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About Us</a></li>
        {% if session['username'] %}
        <li><a class="nav-link scrollto active" href="">{{session['username']}} Profile </a></li>
        <li><a class="nav-link scrollto active" href="/logout"> Logout </a></li>

          {% if session['usertype'] == 'Supplier' %} 

            <li><a href="/s_item_view">S_item_view</a></li>
            <li><a href="/s_inventory">S_inventory</a></li>
            

          {% elif session['usertype'] == 'Retailer' %}

            <li><a href="/cart">Cart</a></li>
            <li><a href="/main_inventory">Main_inventory</a></li>
            

          {% endif %}
        {%else%}
          <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        {% endif %}
      </ul>
    </nav>

    <i class="bi bi-list mobile-nav-toggle"></i>
  </div>
</header><!-- End Header -->
