<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>
    <form method="post">
      <label>Username:</label>
      <input type="text" name="username" /><br />
      <label>Usertype:</label>
      <select name="usertype" id="usertype">
        <option value="0">Supplier</option>
        <option value="1">Retailer</option>
      </select>
      <label>Password:</label>
      <input type="password" name="password" /><br />
      <input type="submit" value="Register" />
    </form>
  </body>
</html>
